# .env file
.env

# .ipynb_checkpoints
.ipynb_checkpoints

# ds_store
.DS_Store

# extras
.cache
.cache-"user-library-read <etc>"
.cache-playlist-modify-private
.cache-playlist-read-private
.cache-user-library-read
.cache-user-library-read <etc>
data_updated_final.pkl